@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

html{
    font-size: 10px;
}
body{
    font-size: 1.2rem;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 300;
    background-color: #fff;
}]
body *, body *::before, body *::after{
    box-sizing: border-box;
}
/* 숨김콘텐츠 */
.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
}
.logo{
    display: block;
    width: 230px;
    margin: 106px auto 0;
    font-size: 1rem;   
}
.logo a{
    display: block;
}
.logo img{
    width: 230px;
    height: 44px;
    vertical-align: middle;
}
.login-form{
    width: 460px;
    margin: 53px auto 0;
}
.login-form fieldset{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}
.login-form label{
    margin-bottom: 8px;
}
.user-id, .user-pw{
    width: 100%;
    padding: 14px 0;
    box-sizing: border-box;
}
.user-id::placeholder, .user-pw::placeholder{
    color: #999999;
    font-size: 1.4rem;
    text-indent: 1.4rem;
}
.invalid-id, .invalid-pw{
    display: none;
    font-size: 1.3rem;
    color: #f00;
    margin: 10px 3px 0 3px;
}
.btn-login{
    margin: 6px 0;
    background-color: #03c75a;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 56px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}
.login-option{
    width: 100%;
    order: 2;
    display: flex;
    justify-content: space-between;
}
.stay-loggedin{
    margin: 8px 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.ip-protection{
    padding: 1px;
    font-size: 1.5rem;
    order: 2;
}
.ip-page {
    color: inherit;
    text-decoration: none;
}
.btn-ip{
    border: 0;
    padding: 1px;
    background-color:inherit;
    font-size: 1.5rem;
}
.btn-ip > span{
    display: none;
}
.btn-ip [role="switch"][aria-checked="false"]:first-child{
    display: inline-block;
    color: #999999;
}
.btn-ip [role="switch"][aria-checked="true"]:last-child {
    display: inline-block;
    color: #03C75A;
}